@page "/fetchdata"
@using Azure.Identity
@using Microsoft.Graph
@using Microsoft.Identity.Web
@inject Microsoft.Graph.GraphServiceClient GraphServiceClient
@inject MicrosoftIdentityConsentAndConditionalAccessHandler ConsentHandler

<PageTitle>What is in my calendar</PageTitle>

<h1>What is in my calendar</h1>

@if (events == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table>

        @foreach (var first in events)
        {
            <tr>
                <td>@first.Subject</td>
                <td>@first.Start.DateTime</td>
                <td>@first.End.DateTime</td>
            </tr>
        }

    </table>

}

@code {
    private ICalendarEventsCollectionPage? events;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            await DoMSGraphStuff();
        }
        catch (Exception ex)
        {
            ConsentHandler.HandleException(ex);
        }

    }

    protected async Task DoMSGraphStuff()
    {
        //var User = await GraphServiceClient.Me.Request().GetAsync();
        events = await GraphServiceClient.Me.Calendar.Events
            .Request()
            .GetAsync();
    }
}
